.btn-side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30px;
    color: white;
}

a.active .highlight{
    transition: 0.2s;
    color: #9116F9;
}
