body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFE0E0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight:hover {
  transition: 0.2s;
  color: #9116F9;
  cursor: pointer;
}

.custom-btn{
  color: white;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #3C2955;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.custom-btn:hover{
  color: #9116F9;
}
