/*
.chart-statistics-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;

    grid-template-areas:
            "barChart" "barChart"
            "barChart" "barChart"

;
    padding: 8px;
    gap: 8px;


}*/
