.metric-container {
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.metric-options {
    min-height: 50px;
    background-color: rgb(38, 70, 83);;
    border-radius: 8px;
}