.chart-statistics-grid{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin: 10px;
    padding: 8px;
    display: grid;
    grid-template-areas:
    "barChart lineChart"
    "scatterChart doughnutChart" ;
}

@media only screen and (max-width: 700px) {
    .chart-statistics-grid{
        gap: 8px;
        display: flex;
        flex-direction: column;

    }

}