.map-search-container{
    background-color: #264653;
    border-radius: 8px;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 800px) {
    .map-search-container{
        width: 100%;
        padding: 4px;
    }
}
