.legend-wrapper{
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 4px;
}

.legend-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    font-weight: bold;
}

.legend-item-color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

@media screen and (max-width: 800px){
    .legend-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-items: start;
        gap: 4px;
    }
}

